@charset "utf-8";
/* CSS Document */

/*****************globals*************/
body {
  overflow-x: hidden; 
  background: #fafcff;
}

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; cursor:zoom-in;}
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #fff;
  padding: 3em;
  line-height: 1.5em;
  }

.card {
    border: 1px solid #c7c7c7;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  /* text-transform: UPPERCASE; */
  }
.font1{font-family:'Saira Stencil One', cursive;}
.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }
.boxrating{padding:6px 10px; background:#feae39; display:inline-block; border-radius:3px; color:#FFFFFF !important;}
.product-title {
  margin-top: 0; }
.fa-google-play{font-size:0.8rem;}
.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: linear-gradient(135deg, rgb(226, 78, 12) 0%, rgba(242,153,0,1) 61%, rgba(242,153,0,1) 100%);
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  /* font-weight: bold; */
  color: #fff;
  transition: 0.2s ease;
  }

button.add-to-cart.btn.btn-default {}
  .add-to-cart:hover, .like:hover {
    background: #ff9100;
    color: #fff; 
  }

.not-available {
  text-align: center;
  line-height: 2em; }
.orange {
  background: #808d96; }

.green {
  background: #000000; }

.blue {
  background: #00a1ec; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.chung td:first-child{
  width:18%;
}
.chung td:last-child{
  background: #fff;
}
.xanh{
  background: #00a1ec;
}
.do{background: red}
.den{background: rgb(245, 133, 6)}
.active{
  opacity: 1;
  visibility: visible;
}

